/* --- Desktop & Tablet View --- */
 
@media (min-width: 768px) {
    #menu {
        display: none; /* Hide hamburger on desktop */
    }

    nav {
        display: flex !important; 
        position: static;
        justify-content: flex-end; 
    }

    .navigation {
        flex-direction: row; 
        justify-content: flex-end;
        gap: 1rem;
    }

    .grid-container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}